<div class="issue">
	<b>Title: {{content.title}}</b>
	<p>Description: {{content.description}}</p>
	<p>Work: {{content.work}} hour(s)</p>
	<p>User: {{content.user}}</p>
	<button type="button" {{action "edit"}} class="btn btn-xs btn-info">Edit</button>
</div>