<div class="row">

</div>

<div class="row">

<div id="newissue" class="col-sm-3">
	<h2>Add new Issue</h2>
	<form>
		<div class="form-group">
			{{input value=newissue.title placeholder="Title" class="form-control"}}
		</div>
		<div class="form-group">
			{{textarea value=newissue.description cols="30" rows="3" placeholder="Description" class="form-control"}}
		</div>
		<div class="form-group">
			<label>Work</label>
			<{{view "select" value=newissue.work content=hours}}
		</div>
		<div clasS="form-group">
			{{input value=newissue.user placeholder="User" class="form-control"}}
		</div>
		<div class="form-group">
			<label>Status</label>
			<{{view "select" value=newissue.status content=status}}
		</div>
		<button type="submit" {{action 'addIssue'}} class="btn btn-success">Add</button>
	</form>




</div>


<div id="todo" class="issueColumn col-sm-3 ">
<h1 class="text-center">Todo</h1>
{{#col-dropzone action="issueDropped" dropped="todo"}}
{{#each issue in issuesTodo}}
<div class="row">
	{{#issue-dragable actionSave="save" actionDelete="delete" actionCancel="cancel" content=issue}}
	{{/issue-dragable}}
</div>
<br>
{{/each}}
{{/col-dropzone}}
</div>


<div id="inprogress" class="issueColumn col-sm-3">
<h1 class="text-center">In Progress</h1>
{{#col-dropzone action="issueDropped" dropped="inprogress"}}
{{#each issue in issuesInprogress}}
<div class="row">
	{{#issue-dragable actionSave="save" actionDelete="delete" actionCancel="cancel" content=issue}}
	{{/issue-dragable}}
</div>
<br>
{{/each}}
{{/col-dropzone}}
</div>


<div id="done" class="issueColumn col-sm-3">
<h1 class="text-center">Done</h1>
{{#col-dropzone action="issueDropped" dropped="done"}}
{{#each issue in issuesDone}}
<div class="row">
	{{#issue-dragable actionSave="save" actionDelete="delete" actionCancel="cancel" content=issue}}
	{{/issue-dragable}}
</div>
<br>
{{/each}}
{{/col-dropzone}}
</div>

</div>


{{outlet}}